*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
}
.stopwatch{
    background-color: rgba(0,0,0,0.7);
    padding: 20px 25px;
    border-radius: 10px;
}
.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}
.button{
    margin-top:20px;

}
.btn{
    font-size:20px;
    background: none;
    border:none;
    color:#fff;
    background-color: var(--clr);
    padding: 12px 20px;
    margin-inline:5px;
    border-radius: 10px;
    cursor:pointer;

}
/* h1{
    font-size: 40px;
    background:reba(0,0,0,0.7);
    color: aqua;
    border-top:10px;
}
h2{
    font-size:35px ;
    color:aqua;
} */
h3{
  font-size: 30px;
  color:aquamarine;
}